name: Publish release

on:
  release:
    types: [published]

jobs:

  publish-ios:
    name: Publish iOS native
    runs-on: macOS-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Cached Konan
        uses: actions/cache@v2
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-konan-
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Check
        uses: eskatos/gradle-command-action@v1
        with:
          wrapper-cache-enabled: false # https://github.com/eskatos/gradle-command-action/issues/24
          arguments: iosX64Test
      - name: Publish
        uses: eskatos/gradle-command-action@v1
        env:
          BINTRAY_USER: ${{ secrets.bintray_user }}
          BINTRAY_APIKEY: ${{ secrets.bintray_apikey }}
        with:
          wrapper-cache-enabled: false # https://github.com/eskatos/gradle-command-action/issues/24
          arguments: publishIosArm64PublicationToBintrayRepository publishIosX64PublicationToBintrayRepository

  publish:
    name: Publish JVM & Linux native
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Cached Konan
        uses: actions/cache@v2
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-konan-
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Check
        uses: eskatos/gradle-command-action@v1
        with:
          wrapper-cache-enabled: false # https://github.com/eskatos/gradle-command-action/issues/24
          arguments: check
      - name: Publish
        uses: eskatos/gradle-command-action@v1
        env:
          BINTRAY_USER: ${{ secrets.bintray_user }}
          BINTRAY_APIKEY: ${{ secrets.bintray_apikey }}
        with:
          wrapper-cache-enabled: false # https://github.com/eskatos/gradle-command-action/issues/24
          arguments: publishAllPublicationsToBintrayRepository
